@model API.Features.Reservations.Reservations.BoardingPassReservationVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <style>

        html {
            min-height: 100%;
            position: relative;
        }

        body {
            margin: 0;
        }

        #wrapper {
            max-width: 417px;
            padding: 0.5rem;
        }

        #header {
            background-color: #457b9d;
            border-radius: 1rem 1rem 0 0;
            color: #ffffff;
            padding: 0.5rem 0 0.5rem 2rem;
        }

        #logo {
            font-size: 25px;
        }

        #footer {
            align-items: center;
            background-color: #457b9d;
            border-radius: 0 0 1rem 1rem;
            color: #ffffff;
            font-size: 0.8rem;
            justify-content: center;
            padding: 1rem 0 1rem 0;
            text-align: center;
        }

        #content {
            background-color: #caf0f8;
            padding: 1rem 1rem 1rem 1rem;
       }

        table {
            background-color: #457b9d1f;
            border-radius: 1rem;
            padding-bottom: 1rem;
        }

        th {
            font-weight: 500;
        }

        #description {
            margin: 0.5rem 0 0 0.5rem;
            text-align: center;
        }

        #destination {
            font-size: 20px !important;
            margin: 0 auto;
        }

        #reservation-details {
            margin: 0.5rem auto 0 auto;
            width: 30rem;
        }

        #reservation-details table {
            width: 80%;
        }

        #pickup-details {
            margin: 0.5rem auto 0 auto;
            width: 30rem;
        }

        #pickup-details table {
            width: 80%;
        }

        #passengers {
            margin: 0.5rem auto 0 auto;
            width: 30rem;
        }

        #passengers table {
            width: 80%;
        }

        .label {
            padding-left: 1rem;
            text-align: left;
            width: 6rem;
        }

        .field {
            padding-left: 0;
            text-align: left;
        }

        #barcode {
            height: 200px;
            margin: 1rem auto 0 auto;
            width: 200px;
        }

        #refNo {
            font-size: 3rem;
            text-align: center;
            margin: 1.5rem 0 0 0;
        }

        #wish {
            color: #000000;
            margin: 1rem auto 1rem auto;
            text-align: center;
        }

        .col-span {
            color: #000000;
            font-size: 1rem;
            line-height: 2rem;
            padding-bottom: 0.25rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">Finikas Cruises</div>
        </div>
        <div id="content">
            <div id="description">
                <div>Your reservation for</div>
                <div id="destination">@Model.Destination.Description</div>
                <div>is ready!</div>
            </div>
            <div id="reservation-details">
                <table>
                    <thead>
                        <tr>
                            <th class="col-span" colspan="2">Reservation details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="label">Customer</td>
                            <td class="field">@Model.Customer.Description</td>
                        </tr>
                        <tr>
                            <td class="label">RefNo</td>
                            <td class="field">@Model.RefNo</td>
                        </tr>
                        <tr>
                            <td class="label">Ticket No</td>
                            <td class="field">@Model.TicketNo</td>
                        </tr>
                        <tr>
                            <td class="label">Total pax</td>
                            <td class="field">@Model.TotalPax</td>
                        </tr>
                        <tr>
                            <td class="label">Phones</td>
                            <td class="field">@Model.Phones</td>
                        </tr>
                        <tr>
                            <td class="label">Remarks</td>
                            <td class="field">@Model.Remarks</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="pickup-details">
                <table>
                    <thead>
                        <tr>
                            <th class="col-span" colspan="2">Pickup details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="label">Date</td>
                            <td class="field">@Model.Date</td>
                        </tr>
                        <tr>
                            <td class="label">Pickup point</td>
                            <td class="field">@Model.PickupPoint.Description</td>
                        </tr>
                        <tr>
                            <td class="label"></td>
                            <td class="field">@Model.PickupPoint.ExactPoint</td>
                        </tr>
                        <tr>
                            <td class="label">Time</td>
                            <td class="field">@Model.PickupPoint.Time</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="passengers">
                <table>
                    <thead>
                        <tr>
                            <th class="col-span" colspan="2">Passengers</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var passenger in @Model.Passengers)
                        {
                            <tr>
                                <td class="label">@passenger.Lastname</td>
                                <td class="field">@passenger.Firstname</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="refNo">@Model.RefNo</div>
            <div id="wish">
                <span>🥂 We wish you a pleasant trip! 🥂</span>
            </div>
        </div>
        <div id="footer">
            <div>Problems or questions? Please call</div>
            <div>@Model.CompanyPhones</div>
            <div>Don't reply to this email</div>
        </div>
    </div>
</body>

</html>