@model API.Features.Reservations.Reservations.BoardingPassReservationVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <style>
        html {
            min-height: 100%;
            position: relative;
        }

        body {
            margin: 0;
        }

        #wrapper {
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            width: max-content;
        }

        #header {
            align-items: flex-start;
            background-color: #457b9d;
            border-radius: 1rem 1rem 0 0;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 0 1rem 2rem;
        }

        #logo-image {
            background-repeat: no-repeat !important;
            height: 23px;
            width: 116px;
        }

        #logo-text {
            background-repeat: no-repeat !important;
            height: 23px;
            width: 116px;
        }

        #footer {
            align-items: center;
            background-color: #457b9d;
            border-radius: 0 0 1rem 1rem;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            font-size: 0.75rem;
            justify-content: center;
            padding: 1rem 0 1rem 0;
        }

        #footer>span {
            text-align: center;
        }

        #content {
            background-color: #caf0f8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        table {
            background-color: #457b9d1f;
            border-radius: 1rem;
            padding-bottom: 1rem;
        }

        th {
            font-weight: 500;
        }

        #description {
            color: #000000;
            display: flex;
            flex-direction: column;
            margin: 0.5rem auto 0 auto;
        }

        #destination {
            font-size: 20px !important;
            margin: 0 auto;
        }

        #reservation-details {
            display: flex;
            justify-content: center;
            margin: 0.5rem auto 0 auto;
            width: 30rem;
        }

        #reservation-details table {
            width: 80%;
        }

        #pickup-details {
            display: flex;
            justify-content: center;
            margin: 0.5rem auto 0 auto;
            width: 30rem;
        }

        #pickup-details table {
            width: 80%;
        }

        #passengers {
            display: flex;
            justify-content: center;
            margin: 0.5rem auto 0 auto;
            width: 30rem;
        }

        #passengers table {
            width: 80%;
        }

        .label {
            display: flex;
            padding-left: 1rem;
            text-align: left;
            width: 6rem;
        }

        .field {
            padding-left: 0;
            text-align: left;
        }

        #footer {
            align-items: center;
            background-color: #457b9d;
            border-radius: 0 0 1rem 1rem;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            font-size: 0.75rem;
            justify-content: center;
            padding: 1rem 0 1rem 0;
        }

        #footer>span {
            text-align: center;
        }

        #barcode {
            display: flex;
            height: 200px;
            margin: 1rem auto 0 auto;
            width: 200px;
        }

        #wish {
            color: #000000;
            margin: 1rem auto 1rem auto;
        }

        .col-span {
            color: #000000;
            font-size: 1rem;
            line-height: 2rem;
            padding-bottom: 0.25rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo" style="@Model.LogoTextBase64"></div>
        </div>
        <div id="content">
            <div id="description">
                <span>Your reservation for</span>
                <span id="destination">🛳️ @Model.Destination.Description</span>
                <span>is ready!</span>
            </div>
            <div id="reservation-details">
                <table>
                    <thead>
                        <tr>
                            <th class="col-span" colspan="2">Reservation details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="label">Customer</td>
                            <td class="field">@Model.Customer.Description</td>
                        </tr>
                        <tr>
                            <td class="label">RefNo</td>
                            <td class="field">@Model.RefNo</td>
                        </tr>
                        <tr>
                            <td class="label">Ticket No</td>
                            <td class="field">@Model.TicketNo</td>
                        </tr>
                        <tr>
                            <td class="label">Total pax</td>
                            <td class="field">@Model.TotalPax</td>
                        </tr>
                        <tr>
                            <td class="label">Phones</td>
                            <td class="field">@Model.Phones</td>
                        </tr>
                        <tr>
                            <td class="label">Remarks</td>
                            <td class="field">@Model.Remarks</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="pickup-details">
                <table>
                    <thead>
                        <tr>
                            <th class="col-span" colspan="2">Pickup details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="label">Date</td>
                            <td class="field">@Model.Date</td>
                        </tr>
                        <tr>
                            <td class="label">Pickup point</td>
                            <td class="field">@Model.PickupPoint.Description</td>
                        </tr>
                        <tr>
                            <td class="label"></td>
                            <td class="field">@Model.PickupPoint.ExactPoint</td>
                        </tr>
                        <tr>
                            <td class="label">Time</td>
                            <td class="field">@Model.PickupPoint.Time</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="passengers">
                <table>
                    <thead>
                        <tr>
                            <th class="col-span" colspan="2">Passengers</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var passenger in @Model.Passengers)
                        {
                            <tr>
                                <td class="label">@passenger.Lastname</td>
                                <td class="field">@passenger.Firstname</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <img id="barcode" style="@Model.Barcode">
            <div id="wish">
                <span>🥂 We wish you a pleasant trip! 🥂</span>
            </div>
        </div>
        <div id="footer">
            <span>Problems or questions? Please call</span>
            <span>@Model.CompanyPhones</span>
            <span>Don't reply to this email</span>
        </div>
    </div>
</body>

</html>