@model API.Infrastructure.Account.ForgotPasswordResponseVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <style>
        html {
            min-height: 100%;
            position: relative;
        }

        body {
            margin: 0;
        }

        #wrapper {
            max-width: 600px;
            padding: 0.5rem;
        }

        #header {
            background-color: #457b9d;
            border-radius: 1rem 1rem 0 0;
            color: #ffffff;
            padding: 0.5rem 0 0.5rem 2rem;
        }

        #logo {
            font-size: 25px;
        }

        #footer {
            align-items: center;
            background-color: #457b9d;
            border-radius: 0 0 1rem 1rem;
            color: #ffffff;
            font-size: 0.8rem;
            justify-content: center;
            padding: 1rem 0 1rem 0;
        }

        #footer {
            text-align: center;
        }

        #content {
            background-color: #caf0f8;
            padding: 1rem 1rem 1rem 1rem;
        }

        #description {        
            margin: 0.5rem 0 0 0.5rem;
        }

        a.primary {
            text-decoration: none;
            background-color: orange;
            color: #000000;
            padding: 0.5rem 2.5rem;
        }

        #reminder {
            margin: 0.5rem 0 0 0.5rem;
        }

        #button {
            margin: 1rem;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                @Model.Logo
            </div>
        </div>
        <div id="content">
            <div>👋 Hello @Model.Displayname,</div>
            <div id="description">
                <span>You are receiving this email because someone (hopefully you) requested to set a new password for your account. If you did not initiate this, you can disregard this email.</span>
                <span>However, if you would like to continue and set a new password, please click the button below.</span>
            </div>
            <div id=button>
                <a class="primary" href="@Model.ReturnUrl">Set new password</a>
            </div>
            <div>⚠️ This email will expire after five minutes or upon successful password reset.</div>
            <div id="reminder">
                <span>As a friendly reminder, your account details are:</span>
                <ul>
                    <li>Username: @Model.Username</li>
                    <li>Email: @Model.Email</li>
                </ul>
            </div>
        </div>
        <div id="footer">
            <div>Problems or questions? Please call</div>
            <div>@Model.CompanyPhones</div>
            <div>Don't reply to this email</div>
        </div>
    </div>
</body>

</html>